*, *:after, *:before {
   
    box-sizing: inherit;
    background: #adab;
    -webkit-column-rule: ;
    -moz-column-rule: ;
    -o-column-rule: ;
    column-rule: ;#edebeb
}
html {
    
    box-sizing: border-box;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 960px;
    background: beige;
    margin: 20px auto;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.avatar {
    max-width: 350px;
    background: #adabab;
    color: #ebebeb;
}

.h2-first {
    color: snow;
    border-bottom: 2px #5a5a5a dashed;
}

.heading {
    margin: 0;
    padding-bottom: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.photo-info {
    padding: 50px 30px 70px 30px;
}

.text {
    line-height: 24.19px;
    font-size: 13px;
}

.photo {
    height: 230px;
    background: url(https://sun9-74.userapi.com/impg/SJsDJEpxqWhfykgieio0esMOdBzimaDGF_M_ZA/Zm-oU1oKa5s.jpg?size=960x1280&quality=95&sign=daf09d9afb78f56e661270d238454fc6&type=album);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact {
  border-bottom: 2px black dashed;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 70px;
    
}

.phone {
  color:white;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 400;
    
}

.link-number {
    color:white;
    text-decoration: none;
    padding-left: 27px;
    line-height: 21px;
}

.language-text {
    border-radius: 5px;
}



.language {
    width: 100px;
    height: 100px;
    border: 6px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    
}

.line {
    width: 90px;
    border: 2px solid black;
    display: block;
    margin-bottom: 10px;
    margin-top: :10px;
    
}

.line:nth-child(2){
    width: 104px;
    margin-left: 20px;
}

span {
    
}

.lines {
    display: flex;
    flex-direction: column;
}





.info-wrap {
    padding: 36px 56px;
    border: 1px solid rgba(168,168,168,0.44);
    min-height: 100%;
}

.info {
    padding: 25px 30px;
    flex-basis: 63%;
    background: #ff;
}

.logo-img {
    width: 90px;
    height: 90px;
    border: 1px solid #39383a;
    border-radius: 50%;
    background: url();
    background-size: cover;
    background-position: center;
    
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
}

.logo-line {
    display: block;
    width: 43px;
    height: 2px;
    background: #39383a;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 17px;
    margin-right: 17px;
    
}

.logo-lites-left .logo-line:nth_child(2) {
    margin-right: 20px;
    width: 55px;
}

.logo-lites-right .logo-line:nth-child(2) {
    margin-left: 20px;
    width: 55px;
}

.about {
    text-align: center;
    border-bottom: 1px solid rgba(168,168,168,0.44);
    padding-bottom: 30px;
    margin-bottom: 40px;
        
}

.name {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 11px;

}

.position {
    font-size: 9px;
    text-transform: uppercase;
    color: #808000;
    margin-bottom: 20px;
    display: inline-block;
    
    
}

.about-adres {
    font-size: 13px;
    margin-bottom: 15px;
}

.about-contacts {
    font-size: 10px;
}

.about-link {
    text-decoration: none;
    color: #777777;
}

.heading-white {
    font-size: 16px;
    border-bottom: 1px solid rgba(168,168,168,0.44);
    margin-bottom: 37px;
}

.list {
    list-style: none;
    padding-left: 0;
    
}

.list-item:before {
    content: "";
    background: black;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    left: 0;
    top:3;
}








.list-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
    border-bottom: 2px dashed #ececec;
    
}

.list-item-4 {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.list-item-date {
    font-size: 11px;
    text-transform: uppercase;
}

.list-info {
    font-size: 10px;
    color: #777;
}

.list-item2 {
    border: none;
}

.lvlup-list-item1 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}

.level {
    width: 70%;
    height: 8px;
    border: 1px solid black;
    position: relative;
}

.level:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: gray;
}
