
.prem {
    height: 300px;
    width: 200px;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 50px;
}

.vse-prem {
    width: 100%;
    height: 500px;
    background: 
}

.prem-kar {
    height: 50%;
    width: 50%;
}
